@import '../../assets/css/variables';

.post {
    max-width: 50%;
    margin: auto;
    border: 3px solid $background-blue;
    border-radius: 10px;
    margin-bottom: 15px;
}

.post-body {
    font-family: $header-font;
    font-weight: 300;
}